#TableHeader {
  background-color: #585a66;
  color: white;
  height: 40px;
}
.odd {
  background-color: #c2c2c5;
}
.column {
  height: 40px;
  display: flex;
  align-items: center;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  justify-content: space-around;
}
#description,
#title {
  text-align: center;
}
